html {
  background-image: url("photographer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  background-color: black;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-style: italic;
}

body {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}

#search,
#submit,
#color {
  font-style: italic;
  height: 2.5rem;
  border-radius: 3px;
  font-family: "Sofia", sans-serif;
  font-weight: 600;
  font-size: large;
  padding: 5px;
}

#search {
  max-width: 200px;
  min-width: 40px;
}

.search_pictuers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

ul {
  display: grid;
  grid-template-rows: repeat(auto-fill, 320px);
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1rem;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  padding: 0;
}
ul li:nth-child(9) {
  grid-area: 3/2;
}
ul li:nth-child(10) {
  grid-area: 3/3;
}
@media (max-width: 860px) {
  ul li:nth-child(10) {
    grid-area: auto;
  }
  ul li:nth-child(9) {
    grid-area: 4/2;
  }
}

@media(max-width:438px)
{
  ul li:nth-child(9) {
    grid-area: auto;
  }
}
img {
  height: 200px;
  width: 200px;
}

li {
  list-style: none;
  height: 300px;
}

.next_previous {
  display: none;
  margin: auto;
}
.next_previous > * {
  font-style: italic;
  height: 2.5rem;
  border-radius: 3px;
  font-family: "Sofia", sans-serif;
  font-weight: 600;
  font-size: large;
  padding: 5px;
}

h3{
  font-style: italic;
  font-size: 15px;
  margin-bottom: 0px;
}
p{
  font-style: italic;
  font-size: 13px;
  margin-top: 2px;
}
